.articles-main {
  display: flex;
  background-color: white;
  width: 40vw;
  margin-left: 8px;
  margin-bottom: 8px;
  height: 15vh;
}

.articles-articles {
  height: 10vh;
}

.articles-figure > img {
  width: 7vw;
}

.articles-hashtag {
  font-family: var(--secondary-font);
  font-weight: 300;
  color: var(--primary-color);
}
.articles-title {
  font-family: var(--secondary-font);
  font-weight: 300;
}
.articles-content {
  font-family: var(--third-font);
  text-align: justify;
}
.articles-link {
  color: var(--secondary-color);
  font-weight: 400;
  font-family: var(--secondary-font);
  text-align: end;
}
